.bg{
    background-image: url("https://www.cabotsolutions.com/public/risk-management-strategies-dedicated-it-teams-banner.png");
    object-fit: contain;
    background-size: 100%;
    height: 140px;
    background-position: center;
    margin-bottom: 20px;
}

.bg2{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.small-pad{
    padding: 5px 0;
}
.tiny-pad{
    padding: 2.5px 0;
}
.marg{
    margin-top: 50px;
}